#home{
    width: 100%; min-height: 100vh;
    background-image: url(https://m.media-amazon.com/images/I/71tIrZqybrL._SX3000_.jpg);
    background-repeat: no-repeat;
    background-size: 99% 600px;
    background-position: center top;
}

.carousel{
    width: 97%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1.5%;
}

.scroll{
    background-image: url(https://m.media-amazon.com/images/S/sash/ydDD9hnRfziI$y7.png);
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 65px;
}
.right{
    background-position: right;
}
.left{
    background-position: left;
}
.scroll span{
    display: none;
}

.categories{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    background-image: linear-gradient(rgba(255, 255, 255, 0),white);
}

/*Catergories*/
.rect{
    max-width: 400px;
    width: 21.5%;
    min-width: 295px;
    height: 420px;
    color: black;
    margin-bottom: 20px;
    padding: 16px;
}

.categoryblock{
    background: white;
 }

 .categoryblock h5{
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 10px;
 }

 .categoryblock img{
    width: 100%; /*calc(100% - 10px);*/
    height: 308px;
 }

 .categoryblock h6{
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding-top: 60px;
 }
