header path{
    fill: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar{
    background: rgb(19,25,33);
    height: 60px;
}

nav *{
    color: #fff;
}

.menusplit{
    display: flex;
    font-size: 14px;
    align-items: center;
    height: 90%;
}

.menusplit a{
    padding: 6px 10px;
}

.search{
    height: 70%;
    border-radius: 6px;
    width: 50vw;
}
.search:focus-within{
    outline: solid 3px #e67a00;
    
}

.search *{
    color: rgb(73, 73, 73);
    border: none;
    height: 100%;
}
.search > *{
    border-left: solid 1px #cdcdcd;
    padding-left: 5px;
    font-size: 15px;
}

.search button{
    width: 48px;
}

.rndlt{
    border-radius: 6px 0px 0px 6px;
}
.rndrt{
    border-radius: 0px 6px 6px 0px;
}

.rndrt svg{
    height: 20px;
}
.rndrt path{
    fill: #4a4a4a;
}

.icon svg{
    height: 18px;
}

.amznlogo{
    height: 38px;
    padding: 0px 6px;
}

/*Secondary menu*/

.secondary-navbar{
    background: rgb(35,47,62);
    height: 40px;
}

.secondary-navbar a{
    padding: 0px 10px !important;
}

/*##################################################
        NavButtons
*/

.navbutton{
    padding: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.navbutton .icon{
    padding: 10px 0px;
    height: 15px;
}

.navbutton svg{
    padding: 0px 10px;
}

.navbutton:hover{
    outline: solid white 2px;
}

.labeling p{
    font-size: 12px;
}

.labeling h3{
    font-size: 14px;
    font-weight: 700;
}