*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

body{
	background-color: rgb(227,230,230);
}

.blor{ /*blue orange text with underline */
	color: #007185;
}

.blor:hover{
	color: #C7511F;
	text-decoration: underline;
	cursor: pointer;
}